{% extends 'back.html.twig' %}

{% block  body%}

    <section class="restaurants">

        <h1>Envoie d'Email</h1>

        {{ form_start(formEmail, {'attr':{'novalidate':'novalidate'}}) }}
        
        {{ form_row(formEmail) }}

        {{ form_end(formEmail) }}

    </section>

{% endblock %}